/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
  padding-top: 60px;
}

.rockwell {
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

.rockwell-big {
	font-size: x-large;
}

.futura {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.courier {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.helvetica {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 2em;
  padding-top: 1em;
}
