/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
  padding-top: 50px;
}

.rockwell {
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

.rockwell-big {
	font-size: x-large;
}

.futura {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.courier {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.logo {
	margin-top: -0.5em;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 1em;
  padding-top: 1em;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Code
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Music
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Contact
/*
/*****************************************************************************/


