/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
  padding-top: 50px;
}

.no-link, .no-link:hover{
	color: inherit;
	text-decoration: none;
}

.rockwell {
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

.rockwell-medium {
	font-size: large;
}

.rockwell-big {
	font-size: x-large;
}

.futura {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.courier {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.logo {
	margin-top: -0.5em;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 1em;
  padding-top: 1em;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#project-carousel {
	height: 450px;
	background: #000;
}

.carousel-list {
	max-height: 440px;
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Code
/*
/*****************************************************************************/

#code-project {
	overflow: auto;
	height: 450px;
}

/*****************************************************************************/
/*
/* Music
/*
/*****************************************************************************/

#music-project {
	overflow: auto;
	height: 450px;
}

.player {
	width: 400px;
}

/*****************************************************************************/
/*
/* Contact
/*
/*****************************************************************************/


