---
layout: default
title: Writings
---

<div class="container animated fadeInLeft">
	<div id="about" class="page-header">
		<h1 class="rockwell">Writings</h1>
	</div>
</div>

<div class="container animated fadeInUp">
	<div class="jumbotron">
		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <a class="no-link" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
		      	<h4 class="panel-title futura">
		          Freshly Baked in The Oven
		          <em class="courier pull-right">16 Mar 2015</em>
		      	</h4>
		  	  </a>
		    </div>
		    <div id="collapse1" class="panel-collapse collapse in">
		      <div class="panel-body futura">
		      	<h4 class="text-justify">
		      		Renovated CJLO Studio The Oven to Reopen in April<hr>
		      	</h4>
		      	<h3 class="text-justify">
			      <small>
			        {% capture the_oven %}{% include the_oven.markdown %}{% endcapture %}
                    {{ the_oven | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br }}
			      </small>
		      	</h3>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <a class="no-link" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
		      	<h4 class="panel-title futura">
		          Review of the Latest AC/DC Album: <em>Rock Or Bust</em>
		          <em class="courier pull-right">02 Dec 2014</em>
		      	</h4>
		  	  </a>
		    </div>
		    <div id="collapse2" class="panel-collapse collapse">
		      <div class="panel-body futura">
		      	<h4 class="text-justify">
		      		<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> It’s a Long Way to the Top if You Wanna Rock N’ Roll, but AC/DC Decided to Rock Rather Than Bust After Six Years of Hiatus Since Their Last Release.<hr>
		      	</h4>
		      	<h3 class="text-justify">
			      <small>
			        {% capture acdc %}{% include acdc.markdown %}{% endcapture %}
                    {{ acdc | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br }}
			      </small>
		      	</h3>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <a class="no-link" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
		      	<h4 class="panel-title futura">
		          Exclusive Review of the Latest Pink Floyd Album: <em>The Endless River</em>
		          <em class="courier pull-right">11 Nov 2014</em>
		      	</h4>
		  	  </a>
		    </div>
		    <div id="collapse3" class="panel-collapse collapse">
		      <div class="panel-body futura">
		      	<h4 class="text-justify">
		      		<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Fragmented Pink Floyd releases collection of instrumental tracks reminiscent of their past to conclude nearly 50 years of psychedelic rock supremacy.<hr>
		      	</h4>
		      	<h3 class="text-justify">
			      <small>
			        {% capture pink_floyd %}{% include pink_floyd.markdown %}{% endcapture %}
                    {{ pink_floyd | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br }}
			      </small>
		      	</h3>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <a class="no-link" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
		    	<h4 class="panel-title futura">
		          For Better Or For Music
		          <em class="courier pull-right">29 Oct 2014</em>
		        </h4>
		      </a>
		    </div>
		    <div id="collapse4" class="panel-collapse collapse">
		      <div class="panel-body futura">
		      	<h4 class="text-justify">
		      		Canadian singer-songwriter Jon Davis launches his new music video “Better” from his second album <em>Open Shore</em>.<hr>
		      	</h4>
		      	<h3 class="text-justify">
			      <small>
			        {% capture jon_davis %}{% include jon_davis.markdown %}{% endcapture %}
                    {{ jon_davis | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br }}
			      </small>
		      	</h3>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <a class="no-link" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
		    	<h4 class="panel-title futura">
		          James Brown and Chuck Berry Have a Son: He's a Troublemaker
		          <em class="courier pull-right">30 Sep 2014</em>
		        </h4>
		      </a>
		    </div>
		    <div id="collapse5" class="panel-collapse collapse">
		      <div class="panel-body futura">
		      	<h4 class="text-justify">
		      		Vintage Trouble, the American blues rock band, stormed through Montreal last Friday at Café Campus.<hr>
		      	</h4>
		      	<h3 class="text-justify">
			      <small>
			        {% capture vintage_trouble %}{% include vintage_trouble.markdown %}{% endcapture %}
                    {{ vintage_trouble | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br }}
			      </small>
		      	</h3>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
